@import url("https://fonts.googleapis.com/css?family=Cabin");
* {
  box-sizing: border-box; }

form {
  margin: 0; }

html, body, .container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #f6f6f6;
  font-family: 'Cabin', sans-serif;
  color: #777;
  font-size: 16px; }

a {
  color: #0b8e4f;
  text-decoration: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #d9d9d9;
  padding: 0; }

input, textarea, select {
  font-family: 'Cabin', sans-serif;
  padding: 10px;
  border: 1px solid #d9d9d9;
  outline: none;
  font-size: 14px; }

button {
  border: none;
  background: #0b8e4f;
  padding: 12px 18px;
  color: white;
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center; }
  button.cancel {
    background: #d9d9d9;
    color: #777; }
  button:hover {
    opacity: 0.9; }
  button.submit {
    float: right;
    width: 200px; }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  background: #ededed; }

::-webkit-scrollbar-thumb {
  background: #d9d9d9; }

h1 {
  color: #0b8e4f; }

.pretty {
  width: 100%; }
  .pretty th {
    padding-top: 20px !important;
    color: #0b8e4f;
    text-align: left;
    padding: 10px;
    background-color: #f6f6f6 !important; }
  .pretty tr:nth-child(odd) {
    background-color: #ededed; }
  .pretty td {
    padding: 5px !important;
    font-size: 14px; }
    .pretty td i {
      cursor: pointer; }
      .pretty td i:hover {
        color: #0b8e4f; }
    .pretty td.title {
      cursor: pointer; }
      .pretty td.title:hover {
        font-weight: bold; }

.container {
  display: flex;
  flex-direction: column;
  flex: 1; }

.nav {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 40px 0 40px;
  background: #076136;
  justify-content: space-between;
  color: white; }
  .nav .logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
  .nav .logo-title {
    margin-left: 20px;
    font-size: 24px;
    color: white;
    font-weight: bold; }
  .nav form {
    display: flex;
    align-items: center;
    color: white; }
  .nav i {
    cursor: pointer; }
  .nav input {
    padding: 8px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid transparent; }

.content {
  flex: 2;
  display: flex; }
  .content textarea {
    width: calc(100% - 120px);
    margin: 0px 60px 0 60px;
    margin-bottom: 20px; }
  .content .col-side {
    overflow: hidden;
    background: #efefef; }
    .content .col-side:first-child {
      max-width: 220px; }
    .content .col-side:last-child {
      flex: 2; }
    .content .col-side input {
      margin: 40px 20px 20px 20px; }
    .content .col-side ul {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 14px; }
      .content .col-side ul li a {
        text-decoration: none;
        width: 100%;
        display: flex;
        padding: 20px 20px;
        align-items: center;
        font-weight: bold;
        color: inherit; }
      .content .col-side ul li.active {
        background: #d9d9d9; }
        .content .col-side ul li.active a {
          color: #0b8e4f; }
  .content .col-main {
    flex: 7;
    overflow: auto;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    padding-bottom: 40px; }
  .content .user-tags {
    margin: 40px 60px; }
  .content .box {
    margin: 40px 60px;
    border: 1px solid #d9d9d9;
    padding: 20px;
    background: #f2f2f2; }
    .content .box .title {
      font-weight: bold;
      font-size: 18px;
      color: #0b8e4f;
      margin-bottom: 20px; }
    .content .box .date {
      float: right;
      font-size: 10px; }
    .content .box .message {
      margin: 30px 0;
      line-height: 25px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical; }
    .content .box .read-more {
      font-style: italic;
      color: #0b8e4f;
      cursor: pointer; }
    .content .box .avatar {
      height: 40px;
      border-radius: 50%;
      margin-right: 10px; }
    .content .box p {
      line-height: 25px; }
    .content .box .comment-details {
      display: flex;
      justify-content: space-between; }
      .content .box .comment-details div {
        display: flex;
        align-items: center; }
  .content .card-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; }
    .content .card-footer .media-buttons {
      float: right;
      display: flex; }
  .content .tag {
    padding: 5px 10px 5px 10px;
    background: #ddd;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer; }
  .content .subbed {
    background: #0b8e4f;
    color: white; }
  .content .form-submit {
    display: flex;
    justify-content: flex-end;
    padding-right: 60px; }
  .content .announcement-wrapper {
    margin: 40px 60px; }
    .content .announcement-wrapper p {
      margin-top: 40px;
      line-height: 28px; }
    .content .announcement-wrapper .card-footer {
      margin-top: 40px; }
  .content .calendar {
    margin: 40px 20px 20px 20px;
    height: 200px;
    background: #f6f6f6;
    border: 1px solid #d9d9d9; }
  .content .cat-wrapper {
    display: flex;
    flex-direction: column; }
    .content .cat-wrapper .cat-sub-wrapper {
      padding: 10px 60px; }
      .content .cat-wrapper .cat-sub-wrapper:first-child {
        padding-top: 40px;
        padding-bottom: 0; }
      .content .cat-wrapper .cat-sub-wrapper h1 {
        margin-top: 0;
        margin-bottom: 5px; }
    .content .cat-wrapper td {
      padding: 10px; }

table.user-table {
  border: 1px solid #d9d9d9;
  width: 100%; }

/*tabs*/
/* Style the tab */
div.tab {
  overflow: hidden;
  border-bottom: 1px solid #d9d9d9; }

/* Style the buttons inside the tab */
div.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  color: #777;
  border: 1px solid transparent;
  border-bottom: none; }
  div.tab button.create-user {
    float: right;
    color: #0b8e4f;
    font-weight: bold;
    padding: 5px; }

/* Change background color of buttons on hover */
div.tab button:hover {
  color: #0b8e4f; }

/* Create an active/current tablink class */
div.tab button.active {
  border: 1px solid #d9d9d9;
  border-bottom: 1px solid #f2f2f2;
  color: #0b8e4f;
  background: #f2f2f2; }

.input-wrapper {
  margin: 30px 0;
  display: flex;
  flex-direction: column; }
  .input-wrapper label {
    padding-bottom: 10px;
    color: #0b8e4f; }

#submit-post-form, #edit-user-form {
  margin-top: 30px; }
  #submit-post-form .box, #edit-user-form .box {
    margin: 10px 0 0 0; }
  #submit-post-form textarea, #edit-user-form textarea {
    margin: 0;
    width: auto; }
  #submit-post-form #selected-cat-wrapper, #edit-user-form #selected-cat-wrapper {
    display: flex; }
  #submit-post-form button.add, #edit-user-form button.add {
    margin-left: 20px; }

#mod-wrapper {
  display: none; }

/* Style the tab content */
.tabcontent {
  display: none;
  border: 1px solid #d9d9d9;
  border-top: none; }

/*modal*/
.lightbox {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /*MODAL TYPES*/ }
  .lightbox .modal {
    background-color: white;
    display: initial;
    margin-top: -40px;
    border-radius: 5px;
    min-width: 300px; }
    .lightbox .modal hr {
      margin: 0; }
    .lightbox .modal .title {
      background: #0b8e4f;
      padding: 20px;
      color: white;
      border-radius: 5px 5px 0 0;
      display: flex;
      align-items: center; }
    .lightbox .modal .body {
      padding: 20px;
      font-size: 14px; }
    .lightbox .modal .actions {
      padding: 15px;
      display: flex;
      justify-content: center; }
      .lightbox .modal .actions button {
        margin: 0 20px; }
  .lightbox#approve-post {
    display: none; }
  .lightbox#archive-post {
    display: none; }
  .lightbox#submit-post {
    display: none; }
  .lightbox#edit-user {
    display: none; }
  .lightbox#delete-user {
    display: none; }

/*# sourceMappingURL=main.css.map */
