$border-color: #d9d9d9;
$green: #076136;
$lightGreen: #0b8e4f;
@import url('https://fonts.googleapis.com/css?family=Cabin');

* {
  box-sizing: border-box;
}

form {
  margin: 0;
}

html, body, .container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #f6f6f6;
  font-family: 'Cabin', sans-serif;
  color: #777;
  font-size: 16px;
}

a {
  color: $lightGreen;
  text-decoration: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #d9d9d9;
    padding: 0; 
}

input, textarea {
  font-family: 'Cabin', sans-serif;
  padding: 10px;
  border: 1px solid $border-color;
  outline: none;
}

button {
  border: none;
  background: $lightGreen;
  padding: 12px 18px;
  color: white;
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 0.9;
  }
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #ededed;
}

::-webkit-scrollbar-thumb {
    background: #d9d9d9;
}

h1 {
  color: $lightGreen;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.nav {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 40px 0 40px;
  background: $green;
  justify-content: space-between;
  color: white;

  .logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .logo-title {
    margin-left: 20px;
    font-size: 24px;
    color: white;
    font-weight: bold;
  }

  form {
    display: flex;
    align-items: center;
    color: white;
  }

  i {
    cursor: pointer;
  }

  input {
    padding: 8px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid transparent;
  }
}

.content, {
  flex: 2;
  display: flex;

  textarea {
    width: calc(100% - 120px);
    margin: 0px 60px 0 60px;
    margin-bottom: 20px;
  }

  .col-side {
    &:first-child {
      max-width: 220px;
    }

    &:last-child {
      flex: 2;
    }

    input {
      margin: 40px 20px 20px 20px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 14px;

      li {

        a {
          text-decoration: none;
          width: 100%;
          display: flex;
          padding: 20px 20px;
          align-items: center;
          font-weight: bold;
          color: inherit;
        }

        &.active {
          background: #d9d9d9;

          a {
            color: $lightGreen;
          }
        }
      }
    }

    overflow: hidden;
    background: #efefef;
  }

  .col-main {
    flex: 7;
    overflow: auto;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    padding-bottom: 40px;
  }

  .user-tags {
    margin: 40px 60px;
  }

  .box {
    margin: 40px 60px;
    border: 1px solid $border-color;
    padding: 20px;
    background: #f2f2f2;

    .title {
      font-weight: bold;
      font-size: 18px;
      color: $lightGreen;
      margin-bottom: 20px;
    }

    .date {
      float: right;
      font-size: 10px;
    }

    .message {
      margin: 30px 0;
      line-height: 25px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    .read-more {
      font-style: italic;
      color: $lightGreen;
      cursor: pointer;
    }

    .avatar {
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }

    p {
      line-height: 25px;
    }
    
    .comment-details {
      display: flex;
      justify-content: space-between;

      div {
        display: flex;
        align-items: center;
      }
    }
  }

.card-footer {
  display: flex; 
  justify-content: space-between;
  margin-top: 20px;

  .media-buttons {
    float:right;
    display: flex;
  }
}

.tag {
  padding: 5px 10px 5px 10px;
  background: #ddd;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.subbed {
  background: $lightGreen;
  color: white;
}

.form-submit {
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;
}

.announcement-wrapper {
  margin: 40px 60px;

  p {
    margin-top: 40px;
    line-height: 28px;
  }

  .card-footer {
    margin-top: 40px;
  }
}

  .calendar {
    margin: 40px 20px 20px 20px;
    height: 200px;
    background: #f6f6f6;
    border: 1px solid #d9d9d9;
  }

  .cat-wrapper {
    display: flex;
    flex-direction: column;

    .cat-sub-wrapper {
      padding: 10px 60px;

      &:first-child {
        padding-top: 40px;
        padding-bottom: 0;
      }
    }

    td {
      padding: 10px;
    }
  }
}

/*tabs*/
/* Style the tab */
div.tab {
    overflow: hidden;
    border-bottom: 1px solid #d9d9d9;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    color: #777;
    border: 1px solid transparent;
    border-bottom: none;
}

/* Change background color of buttons on hover */
div.tab button:hover {
  color: $lightGreen;
}

/* Create an active/current tablink class */
div.tab button.active {
    border: 1px solid #d9d9d9;
    border-bottom: 1px solid #f2f2f2;
    color: $lightGreen;
    background: #f2f2f2;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border-top: none;

    table {
      width: 100%;

      th {
        padding-top: 20px !important;
        color: $lightGreen;
        text-align: left;
        padding: 10px;
        background-color: #f6f6f6 !important;
      }

      tr:nth-child(odd) {
        background-color: #ededed
      }

      td {
        padding: 5px !important;
        font-size: 14px;

        i {
          cursor: pointer;

          &:hover {
            color: $lightGreen;
          }
        }

        &.title {
          cursor: pointer;

          &:hover {
            font-weight: bold;
          }
        }
      }
    }
}

/*modal*/

.lightbox {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

  .modal {
    background-color: white;
    display: initial;
    margin-top: -40px;
    border-radius: 5px;
    min-width: 300px;

    hr {
      margin: 0;
    }

    .title {
      background: $lightGreen;
      padding: 20px;
      color: white;
      border-radius: 5px 5px 0 0;
      display: flex;
      align-items: center;
    }

    .body {
      padding: 20px;
      font-size: 14px;
    }

    .actions {
      padding: 15px;
      display: flex;
      justify-content: center;

      button {
        margin: 0 20px;

        &.cancel {
          background: #d9d9d9;
          color: #777;
        }
      }
    }
  }

  /*MODAL TYPES*/
  &#approve-post {
    display: none;
  }

  &#archive-post {
    display: none;
  }
}