@import url("https://fonts.googleapis.com/css?family=Cabin");
* {
  box-sizing: border-box; }

form {
  margin: 0; }

html, body, .container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #f6f6f6;
  font-family: 'Cabin', sans-serif;
  color: #777;
  font-size: 16px; }

a {
  color: #0b8e4f;
  text-decoration: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #d9d9d9;
  padding: 0; }

input, textarea {
  font-family: 'Cabin', sans-serif;
  padding: 10px;
  border: 1px solid #d9d9d9;
  outline: none; }

button {
  border: none;
  background: #0b8e4f;
  padding: 12px 18px;
  color: white;
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  cursor: pointer; }
  button:hover {
    opacity: 0.9; }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  background: #ededed; }

::-webkit-scrollbar-thumb {
  background: #d9d9d9; }

h1 {
  color: #0b8e4f; }

.container {
  display: flex;
  flex-direction: column;
  flex: 1; }

.nav {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 40px 0 40px;
  background: #076136;
  justify-content: space-between;
  color: white; }
  .nav .logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
  .nav .logo-title {
    margin-left: 20px;
    font-size: 24px;
    color: white;
    font-weight: bold; }
  .nav form {
    display: flex;
    align-items: center;
    color: white; }
  .nav i {
    cursor: pointer; }
  .nav input {
    padding: 8px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid transparent; }

.content {
  flex: 2;
  display: flex; }
  .content textarea {
    width: calc(100% - 120px);
    margin: 0px 60px 0 60px;
    margin-bottom: 20px; }
  .content .col-side {
    overflow: hidden;
    background: #efefef; }
    .content .col-side:first-child {
      max-width: 220px; }
    .content .col-side:last-child {
      flex: 2; }
    .content .col-side input {
      margin: 40px 20px 40px 20px; }
    .content .col-side ul {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 14px; }
      .content .col-side ul li a {
        text-decoration: none;
        width: 100%;
        display: flex;
        padding: 20px 20px; }
      .content .col-side ul li.active {
        background: #076136; }
        .content .col-side ul li.active a {
          color: white; }
  .content .col-main {
    flex: 7;
    overflow: auto;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    padding-bottom: 40px; }
  .content .user-tags {
    margin: 40px 60px; }
  .content .box {
    margin: 40px 60px;
    border: 1px solid #d9d9d9;
    padding: 20px;
    background: #f2f2f2; }
    .content .box .title {
      font-weight: bold;
      font-size: 18px;
      color: #0b8e4f;
      margin-bottom: 20px; }
    .content .box .date {
      float: right;
      font-size: 10px; }
    .content .box .message {
      margin: 30px 0;
      line-height: 25px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical; }
    .content .box .read-more {
      font-style: italic;
      color: #0b8e4f;
      cursor: pointer; }
    .content .box .avatar {
      height: 40px;
      border-radius: 50%;
      margin-right: 10px; }
    .content .box p {
      line-height: 25px; }
    .content .box .comment-details {
      display: flex;
      justify-content: space-between; }
      .content .box .comment-details div {
        display: flex;
        align-items: center; }
  .content .card-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; }
    .content .card-footer .media-buttons {
      float: right;
      display: flex; }
  .content .tag {
    padding: 5px 10px 5px 10px;
    background: #ddd;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer; }
  .content .subbed {
    background: #0b8e4f;
    color: white; }
  .content .form-submit {
    display: flex;
    justify-content: flex-end;
    padding-right: 60px; }
  .content .announcement-wrapper {
    margin: 40px 60px; }
    .content .announcement-wrapper p {
      margin-top: 40px;
      line-height: 28px; }
    .content .announcement-wrapper .card-footer {
      margin-top: 40px; }
  .content .calendar {
    margin: 40px 20px 20px 20px;
    height: 200px;
    background: #f6f6f6;
    border: 1px solid #d9d9d9; }
  .content .cat-wrapper {
    display: flex;
    flex-direction: column; }
    .content .cat-wrapper .cat-sub-wrapper {
      padding: 10px 60px; }
      .content .cat-wrapper .cat-sub-wrapper:first-child {
        padding-top: 40px;
        padding-bottom: 0; }
    .content .cat-wrapper td {
      padding: 10px; }

/*# sourceMappingURL=main.css.map */
